# SPDX-FileCopyrightText: 2023 Renaissance Computing Institute. All rights reserved.
# SPDX-FileCopyrightText: 2024 Renaissance Computing Institute. All rights reserved.
#
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-License-Identifier: LicenseRef-RENCI
# SPDX-License-Identifier: MIT

pylint==3.5.5
pytest==8.3.5
pytest-cov==6.0.0
slack-sdk==3.35.0
requests==2.32.3
psycopg2-binary==2.9.10